html{
    scroll-padding-top: 3.4rem;
}

body {
    margin: 0%;
}


.container{
    background-color: #03475e  !important;
    width: 100% !important;
    position: fixed !important;
    z-index: 20 !important;
    
}

.nav, .navbar-nav, .navbar-right li a{
    font-size: 1rem !important;
    color: white !important;
}
.nav li a:hover{
    font-size: 1.5rem !important;
    text-shadow: 0px 0px 10px #CDE8E6;
    border-bottom: 0px;
}
.logo{
    text-shadow: 0px 0px 10px #CDE8E6;
}
#body-header {
    width: 100%;
    height: 100%;
    background-color: #5B96A9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.horizontal-list {
    list-style: none;
    padding-left: 0%;
    text-align: center;
    margin: 0%;
    padding: 1%;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 20px 20px 0px;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

.nav-menu li a:hover {
    text-shadow: 0px 0px 10px #CDE8E6;
    border-bottom: double #CDE8E6;
}

.text-centre {
    text-align: center;
}

.name-detail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.anime{
    
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    margin: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background: linear-gradient(#00ccff,#CDE8E6);

}
.anime div {
    width: 23.5rem;
    height: 23.5rem;
    border-radius: 50%;
    background-image: url(image/2.jpg);
    background-size: cover;
    z-index: 10;
    margin: 5px;
}
/*
.anime::before{
    content:"";
    position: absolute;
    width: 140%;
    height: 140%;
    background: linear-gradient(#00ccff,#CDE8E6);
} */

.name-detail h1{
    color: white;
    margin-top: 0%;
    font-size: 3rem;
    text-align: center;
}
.name-detail p{
    margin-top: 0%;
    color: white;
    font-size: 2.5rem;
}

#about div{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#about-me{
    max-width: 400px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 50px;
    font-size: 1.5rem;
    text-align: justify;
}
#about-me p{
    text-align: justify;
}
#my-img{
    display: inline-block;
    height: 400px;
    width: 400px;
    max-width: 400px;
    background-image: url(image/1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin: 50px;
}
#my-img::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    top: -10px;
    left: -10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
#my-img::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -10px;
    right: -10px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.social-icon li a i {
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
}

.social-icon li a i:hover {
    text-shadow: 0px 0px 10px #CDE8E6;
    box-shadow: 0px 0px 15px 4px #CDE8E6;
    border-bottom: 0px;
}

#about {
    width: 100%;
    height: auto;
}

#div1 {
    width: 70%;
    font-size: 1.2rem;
    text-align: justify;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n+1) {
    background-color: #E6F8F6;
}

section:nth-child(2n) {
    background-color: #CDE8E6;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
}

.section-heading span {
    font-size: 40px;
    color: #487989;
    padding-top: 10px;
}

.skill-display {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-progress {
    width: 15rem;
    height: 2rem;
    background-color: #c8c8c8;
    border: 2px solid black;
    border-radius: 100rem;
    margin: 50px 20px;
}

.div2 {
    height: inherit;
    border-radius: 100px 0px 0px 100px;
}

.skill-name {
    padding: 5px 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;

}


.timeline {
    position: relative;
    width: 70%;
}

.timeline-box {

    position: relative;
    margin: 5%;
    width: 40%;
    min-height: 150px;
    padding: 5px;
    text-align: justify;
}

.timeline-box:nth-child(2n) {
    left: 50%;
}

.timeline-divider {
    position: absolute;
    height: 65%;
    width: 0%;
    border-right: 3px dashed #577782;
    top: 9%;
    left: 50%;
}

.timeline-traveller {
    font-size: 2rem;
    position: sticky;
    top: 25%;
    transform: rotate(90deg);
    margin-top: -30px;
    z-index: 2;
    color: #487989;
}

.box h1 {
    font-size: 2rem;
    color: orangered;
}

.box h2 {
    color: green;
}

.box h3 {
    color: rgb(104, 97, 97);
    font-weight: 400;
}

.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top: 16%;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: grey;
    right: -11.75%;
    z-index: 1;
}

.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top: 4%;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: grey;
    left: -13.45%;
    z-index: 1;
}

.timeline-box div {
    text-align: left;
    margin-top: -30px;
    margin-bottom: -10px;
}

.timeline-box:nth-child(2n+1) div {
    text-align: right;
}

.box h1,
h2,
h3 {
    margin: 0;
}

#projecct-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.no-project{
    display: inline-block;
    height: auto;
    width: 200px;
    background-color: #487989;
    margin: 50px;
    text-align: center;
    border-radius: 10%;
    color: white;
    padding-bottom: 10px;
}
.img{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10% 10% 0% 0%;
    margin-top: 0;
}

.no-project h3{
    margin-top: 10px;
    font-size: 1.2rem;
}

.no-project:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px 4px rgb(215, 237, 200);
}

.gallery{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project {
    height: 200px;
    width: 200px;
    border-radius: 1rem;
    border: 3px solid black;
    margin: 50px;
    background-position: center;
    background-size: 101% 101%;
    background-repeat: no-repeat;
    transition: all 0.5s;
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.project:hover{
    opacity: 0.7;
}

#contact {
    height: auto;
    width: 100%;
    background-color: #5B96A9;
}

.contact-detail {
    width: 350px;
    padding: 2.5%;
    color: white;
    margin: 25px;
}

.contact-detail h3 {
    font-weight: 100;
    margin-bottom: 10px;
}

input {
    display: block;
    border: none;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: transparent;
    width: 100%;
    margin: 50px 0px;
    color: white;
}

input:focus {
    outline: none;
}

textarea {
    display: block;
    border: none;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(255, 255, 255);
    background: transparent;
    width: 100%;
    color: white;
}

textarea:focus {
    outline: none;
}

button[type="submit"] {

    font-size: 1.2rem;
    background: transparent;
    color: white;
    padding: 10px;
    margin-top: 50px;
    border: 2px solid white;
}

button[type="submit"]:hover{
    background-color: #CDE8E6;
}
#last {
    width: 500px;
}


@media  screen and (max-width: 460px) {
   #loader h2{
        font-size: 3rem;
    }
    #my-img{
    display: inline-block;
    height: 200px;
    margin: 0%;
    }

    #about-me{
        max-width: 400px;
        display: inline-block;
        min-width: 300px;
        position: relative;
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
    }
    
    .anime{
        width: 22rem;
        height: 22rem;
    }
    .anime div {
        width: 21.5rem;
        height: 21.5rem;
    }
    
    .timeline-divider{
        height: 70%;
        top: 5%;
        left: -5%;
    }

    .timeline-box:nth-child(n){
        margin-left: 0%;
        left: 0%;
        width: 100%;
    }

    .timeline-box:nth-child(n) div {
        background-position: right;
        text-align: left;
    }

    .timeline-box:nth-child(n)::after {
        top: 8%;
        left: -6.5%;
    } 
}
